:root {
  --primary-color: #0277bd;
  --primary-dark-color: #004c8c;
  --primary-light-color: #58a5f0;
  --primary-text-color: #ffffff;
  --secondary-color: #7e57c2;
  --secondary-dark-color: #4d2c91;
  --secondary-light-color: #b085f5;
  --secondary-text-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');